@model List<miniStore.ViewModels.Catalog.Categories.CategoryVM>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}

<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.Where(x => x.ParenId == null);

        }
        @for (int i = 0; i < parents.Count(); i++)
        {
            var parent = parents.ElementAt(i);
            var children = Model.Where(x => x.ParenId == parent.Id);
            if (children.Any())
            {
                <li class="subMenu open">
                    <a>@parent.Name</a>
                    <ul>
                        @foreach (var item in children)
                        {
                            <li><a class="active" href="/@culture/@_loc["categoryUrl"]/@item.Id"><i class="icon-chevron-right"></i>@item.Name</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/@culture/@_loc["categoryUrl"]/@parent.Id"><i class="icon-chevron-right"></i>@parent.Name</a></li>
            }
        }

    </ul>
</div>